div
{
    border-radius: 4px;
    }
#header
{
  position: relative;
    height:60px;
    width: auto;
    background-color:aquamarine;
    }

#name {
    float: left;
	margin-left: 20px;
	padding-bottom: 15px;
	font-size: 20px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email, #git ,#twitter{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}
a:hover {
    font-weight: bold;
}
.cv
{
    flex: auto;
    margin-top: 50px;
    padding-left:5px;
    height: auto;
    width: 100%;
    background-color: #E3EDD8;
    }
    
#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
    }
    
h1, h2 , h3 {
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }

table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

#heading
{
    font-weight:bold;
}

